doctype html
html
    head
        title Colors & Type
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        style
            include common.blocks/wrapper/wrapper.scss
        style
            include common.blocks/colors-description/colors-description.scss
        style
            include common.blocks/colors-description/__main/colors-description__main.scss
        style
            include common.blocks/colors-description/__item/colors-description__item.scss
        style
            include common.blocks/colors-description/__rect/colors-description__rect.scss
        style
            include common.blocks/fonts-description/fonts-description.scss
    body
        div(class="wrapper")
            div(class="colors-description")
                div(class="colors-description__main")
                    -
                        let colors = [
                        { text: "Dark Shade: 100%", colorCode: "#1F2041" },
                        { text: "Dark Shade: 75%",  colorCode: "#1F2041", color: "rgb(31, 32, 65, 0.75)" },
                        { text: "Dark Shade: 50%",  colorCode: "#1F2041", color: "rgb(31, 32, 65, 0.5)" },
                        { text: "Dark Shade: 25%",  colorCode: "#1F2041", color: "rgb(31, 32, 65, 0.25)" },
                        { text: "Dark Shade: 5%",   colorCode: "#1F2041", color: "rgb(31, 32, 65, 0.05)" },
                        { text: "Purple",           colorCode: "#BC9CFF" },
                        { text: "Green",            colorCode: "#6FCF97" }
                        ]
                    each block in colors
                        div(class="colors-description__item")
                            if block.color
                                div(class="colors-description__rect" style="background:"+block.color)
                            else
                                div(class="colors-description__rect" style="background:"+block.colorCode)
                            div(class="colors-description__text")
                                p= block.text
                                p= block.colorCode
                        div(style="clear:both")
            div(class="fonts-description")
                -
                    let fonts = [
                    { name: "H1",   description: "This one is the sub-section or widget title" },
                    { name: "H2",   description: "Next one is the item title inside widgets" },
                    { name: "H3",   description: "THIS IS A LABEL OR CTA TEXT" },
                    { name: "Body", description: "This is the body text which is used for most of the design like paragraphs, lists, etc." }
                    ]
                each block in fonts
                    div(class="fonts-description__name-block")= block.description